.spinnerWrapper {
    height: 10em;
    width: 10em;
}

.loadWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 25em;
}

.loadWrapper p {
    font-size: 1.5em;
}
